.powderForm {
  display: flex;
  justify-content: space-between;
  // align-items: end;
}

.detail {
  background-color: aliceblue;
  h4,
  h5,
  p,
  ul {
    text-align: left;
  }

  li {
    font-weight: bold;
    margin-left: 1rem;
  }
}
